/venv
/__pycache__/
/*.pyc
/.env
/venv/
**/__pycache__

.vscode/*
/.vscode/
*.vscode
*.vscode/*
*.vscode/settings.json
*.vscode/tasks.json
*.vscode/launch.json
*.vscode/extensions.json
*.vscode/*.code-workspace
*.vscode/*.code-workspace.json
*.vscode/*.code-workspace.jsonc